.home {
  text-align: center;
  padding: 6rem 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size:3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    &::after {
    display: none !important; // <- remove a barra animada
  }

    .typewriter {
      font-size:3rem;
      font-weight: bold;
      -webkit-background-clip: text;
      background-clip: text;
      color: #5b548a;
      
       &:hover {
      color: #6600ff;
      transform: scale(1.2);
    }
    
    }
  }
}

.home__icons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

  a {
    font-size: 2rem;
    color: #5b548a;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
      color: #6600ff;
      transform: scale(1.2);
    }
  }
}
